Repository ROCm/rocWMMA, pull requests merged in 2023-09, with the labels that each got.

#221 Load store unroll
  library/include/rocwmma/internal/coop_load.hpp
  library/include/rocwmma/internal/coop_store.hpp
  library/include/rocwmma/internal/layout_impl.hpp
  library/include/rocwmma/internal/opaque_load.hpp
  library/include/rocwmma/internal/opaque_store.hpp
  library/include/rocwmma/internal/tuple.hpp
  test/gemm/gemm_PGR0_LB0_MP0_SB_NC/test/ad_hoc_test.cpp
  test/gemm/gemm_PGR1_LB2_MP0_MB_CP/test/ad_hoc_test.cpp
Labels: noCI

#249 replace build.image with build.os in the .readthedocs.yaml config
  .readthedocs.yaml
Labels: documentation, ci:docs-only

#271 Bump requests from 2.28.2 to 2.31.0 in /docs/.sphinx
  docs/.sphinx/requirements.txt
Labels: ci:docs-only

#272 Bump pygments from 2.14.0 to 2.15.0 in /docs/.sphinx
  docs/.sphinx/requirements.txt
Labels: ci:docs-only
