Repository ROCm/rocWMMA, pull requests merged in 2024-04, with the labels that each got.

#378 docs(installation.rst): Fix table in installation.rst
  docs/installation.rst
Labels: documentation, ci:docs-only

#382 Cherry pick changelog notes for ROCm 6.1.0
  CHANGELOG.md
  CMakeLists.txt
Labels: documentation, ci:docs-only

#389 Cherry pick docs reorg changes for 6.1.0
  .github/dependabot.yml
  .gitignore
  .readthedocs.yaml
  README.md
  docs/.gitignore
  docs/.sphinx/_toc.yml.in
  docs/API_Reference_Guide.rst
  docs/Linux_Install_Guide.rst
  docs/Programmers_Guide.rst
  docs/api-reference-guide.rst
  docs/conf.py
  docs/doxygen/Doxyfile
  docs/index.rst
  docs/installation.rst
  docs/license.rst
  docs/programmers-guide.rst
  docs/sphinx/_toc.yml.in
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
  docs/what-is-rocwmma.rst
Labels: noCI, ci:docs-only

#392 Update version number and changelog
  CHANGELOG.md
  CMakeLists.txt
Labels: ci:docs-only
