Repository ROCm/rocWMMA, pull requests merged in 2025-04, with the labels that each got.

#524 Update CHANGELOG.md
  CHANGELOG.md
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  docs/api-reference/api-reference-guide.rst
  docs/install/installation.rst
Labels: ci:docs-only

#528 First phase of rocWMMA docs refresh
  docs/conceptual/programmers-guide.rst
  docs/conf.py
  docs/index.rst
  docs/install/installation.rst
  docs/sphinx/_toc.yml.in
  docs/what-is-rocwmma.rst
Labels: documentation, ci:docs-only

#516 Update 6.4 changelog
  CHANGELOG.md
Labels: documentation, noCI, ci:docs-only
